@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/UILayout.cshtml";
}


<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
@await Component.InvokeAsync("_CarouselDefaultViewComponentPartial")
@await Component.InvokeAsync("_FeatureDefaultViewComponentPartial")
@await Component.InvokeAsync("_CategoriesDefaultViewComponentPartial")
@await Component.InvokeAsync("_FeaturedProductDefaultViewComponentPartial")
@await Component.InvokeAsync("_OfferDefaultViewComponentPartial")
@await Component.InvokeAsync("_VendorDefaultViewComponentPartial")