@model UpdateCategoryDto

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Bordered Table</h4>
                <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input asp-for="CategoryId" readonly hidden type="text" />
                        <input asp-for="CategoryName" type="text" />
                        <br />
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>